body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.panels-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.content {
    background-color: #FFEBEE; /* Rosa claro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #FF4081; /* Rosa intenso */
    margin-bottom: 20px;
}

.option {
    margin-bottom: 10px;
}

.option input[type="radio"] {
    display: none;
}

.option label {
    display: inline-block;
    background-color: #F8BBD0; /* Rosa pastel */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.option label:hover {
    background-color: #EC407A; /* Rosa */
    color: #fff;
}

.siguiente {
    display: inline-block;
    background-color: #FF4081; /* Rosa intenso */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.siguiente:hover {
    background-color: #D81B60; /* Rosa oscuro */
}
